.body-register {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../components/img/hospital.jpg) center;
    height: 775px;
    padding: 90px 50px;
    font-family: 'SLEIGothicTTF'
}

.register-box {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding-top: 50px;
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 50px auto;
    background-color: white;
}


.register-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: -10px;
}

.registerwrite {
    border: none;
    border-bottom: 2px solid black;
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
}

.submit {
    height: 20px;
}

.registerlogo {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    margin-top: -30px;
}

.btn {
    margin: 10px 37%;
    width: 120px;
    height: 40px;
    border-radius: 5%;
    transition: all 0.4s;
    background-color: #445ed4;
    border: none;
    color: white;
    padding: 9px;
    display: flex;
    justify-content: center;
    font-size: 14px;

    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        color: #445ed4;
        border: 1px solid #445ed4;
        padding: 9px;
        display: flex;
        justify-content: center;
        font-size: 13px 1px;

    }
}