.Solution-title {
    font-size: 25px;
    padding-top: 120px;
    margin-bottom: -90px;
}

.Solution-contents {
    height: 200px;
    padding-top: 100px;
    margin-top: -50px;
    margin-bottom: -170px;
    background-color: #e1e3e6;
}

.mySolutions{
    margin-top: 200px;
}